#machine {
  float: right;
}
#ss { 
 float: right;
}
.column {
  width: 33%;
  float: left;
}

.date{
  float: right;
}
#ngButton {
  margin-left: 75px;
}

#board {
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 200px;
  font-family: Courier,monospace;
  font-size: 35px;
  vertical-align: middle;
  z-index: -1;
}

#boggleBox {
  height: 400px;
}
.space {
  height: 400px;
}
.strong {
  font-weight: bold;
}
.cent{
  text-align: center;
}
.output {
  background-color: #B8EEFF;
  padding: 5px;
}
.mistake {
  background-color: #E86968;
  padding: 5px;
}

#content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
}

.resume {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 150px;
}

.projects {
  position: absolute;
  bottom: 0px;
  left: 200px;
  width: 150px;
}

#navigation {
  position: absolute;
  top: 150px
}

#header {
  top: 0px;
  height: 120px;
  width: 950px;
  background:#ccc;
  padding: 10px;
}

#footer {
  bottom: 0px;
  height: 80px;
  background-color: #ccc;
  text-align: right;
  width: 950px;
  padding: 10px;
}

img {
  float: right;
  height: 200px;
  width: 200px;
}

button {
   background: #65a9d7;
   padding: 11.5px 23px;
   color: white;
   width: 100px;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #0f4d73;
   background: #0f4d73;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 300px;
}

.hidden{
  display: none;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
 
.clearfix:after {
clear: both;
}
 
.clearfix {
*zoom: 1;
}bottom: 0px;
