.column {
  width: 33%;
  float: left;
}
.date{
  float: right;
}
.frame {
 width: 750px;
}

.profile {
  position: fixed;
  top: 75px;
  left: 0px;
  width: 150px;
}

.resume {
  position: fixed;
  top: 75px;
  left: 100px;
  width: 150px;
}

.projects {
  position: fixed;
  top: 75px;
  left: 200px;
  width: 150px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background:#ccc;
  padding: 10px;
}

#content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#machine {
  position: relative;
  top: -200px;
  float: right;
  width: 200px;
}

#user {
  position: relative;
  top: -200px;
  float: left;
  width: 200px;
}

#board {
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 200px;
  font-family: Courier,monospace;
  font-size: 35px;
  vertical-align: middle;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 90px;
  background-color: #ccc;
  text-align: right;
  width: 100%;
}

#photo {
  float: right;
  margin: 0 0 1em 1em;
}

button {
   background: #65a9d7;
   padding: 11.5px 23px;
   color: white;
   width: 100px;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #0f4d73;
   background: #0f4d73;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

body {
  margin-top: 150px;
  margin-bottom: 140px;
}

.hidden{
  display: none;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
 
.clearfix:after {
clear: both;
}
 
.clearfix {
*zoom: 1;
}