{% extends "base.html" %}
{% block title%} Project: Boggle {% endblock %}

{% block header %}
		<h1>
			Boggle Solver
		</h1>
{% endblock %}

{% block content %}
		<script type = "text/javascript">
		
		var showSolutions = function() {
			$("#machine").removeClass("hidden");
		};
		</script>

		<div id="board">
		<table>
		{% for b in bb %}
		<tr>
			{% for c in b %}
			<td> {{ c }} </td>
			{% endfor %}
		</tr>		
		{% endfor %}
		</table>
	
		<br>


		<form action="/boggle" method="post">
			<input type="hidden" value="whatever"></input>
		 	<input type="submit" value="New game"></input>
		</form>

		</div>

		<button onclick = "showSolutions()">Show solutions</button>
		<div id="machine" class ="hidden">
		{% for s in sol %}
		<p>
		{{ s }}
		</p>
		{% endfor %}
		</div>

		<div id="user">

		</div>

		

		
{% endblock %}
