{% extends "base.html" %}
{% block title%} Project: Boggle {% endblock %}

{% block header %}
		<h1>
			Boggle Solver
		</h1>
{% endblock %}

{% block content %}
		<script type = "text/javascript">

		var showSolutions = function() {
			$("#machine").removeClass("hidden");
			$("#ss").addClass("hidden");
			$("#try").addClass("hidden");
			$("#answer").addClass("hidden");
			$("#ngButton").removeClass("hidden");
		};

		var checkAnswer = function() {
			var userlist = [];
			var p = document.createElement('p');
			var machinelist = [ {% for s in sol %}"{{ s }}", {% endfor %}""];
		
			var wordraw = document.getElementById("answer").value;
			var word = wordraw.toUpperCase();	

			for(index = 0; index < machinelist.length; index++) {
				if ( word == machinelist[index]) {
					p.textContent = word;
					document.getElementById("user").appendChild(p);
				}
			}
		}; 
		</script>

		<div id="boggleBox">

		<p> You have found: </p>

		<div id="user" class="column">

		<p> </p>

		</div>
 

		<div class="column">

		<div id="board">
		<table>
		{% for b in bb %}
		<tr>
			{% for c in b %}
			<td> {{ c }} </td>
			{% endfor %}
		</tr>		
		{% endfor %}
		</table>	

		</div>	
		
		<input id="answer" type="text">

		<button id="try" onclick = "checkAnswer()">Check Answer</button>

		<form id="newGame" class="hidden" action="/boggle" method="post">
		 	<input type="hidden" value="unknown"> </input>
			<input type="submit" value="New Game"> </input>
		</form>

		<button id="ngButton" class="hidden" type="submit" form="newGame" value="New Game">New Game</button>

		</div>

		<div id="machine" class ="hidden" class="column">

		{% for s in sol %}
		<p>
		{{ s }}
		</p>
		{% endfor %}
		</div>

		<button id="ss" onclick = "showSolutions()">Show Solutions</button>
		
		</div>

		<div class="clearfix"></div>
		
{% endblock %}
