{% extends "base.html" %}
{% block title%} Profile {% endblock %}

{% block header %}
		<h1>
			Ethan C. Wolfe
		</h1>
{% endblock %}


{% block content %}
		<div class="space">
		<h2>
			About me
		</h2>
		<p>
		<img id="photo" src="/static/myPic.jpg" alt="myPic">
			
            I am a recent graduate from Auburn University with a degree in Computer Science. I choose Computer Science because it has given me a wide variety topics to expand to, along with a strong grasp on the fundamental principals of programming. Through the course of my studies there was a strong focus on learning software developments skills, such as object oriented programming, working in teams, and to be able to design models of your work.  These  are strong skills for many areas of the field. This website is one of my personal projects that I built with some guidance and research, but most concepts were familiar and easily understood. I hope to continue to expand my learnings as I continue to develop this site.
        </p>
        <p>  Outside of work I enjoy many means of pass time. Running is an important part of my everyday routine, as it helps me stay healthy and focused.  In an attempt to broaden my horizons I have recently started learning German, which has been a fascinating experience so far. I enjoy reading A variety of books from programming books, science fiction, to philosophy.  
		</p>
		</div>
		
{% endblock %}
