{% extends "base.html" %}
{% block title%} Index {% endblock %}

{% block header %}
		<h1>
			My Profile
		</h1>
{% endblock %}


{% block content %}
		<h2>
			About me
		</h2>
		<p>
			I am a recent Auburn Graduate who is seeking employment if my field of Computer Science.
		<img id="photo" src="/static/myPic.jpg" alt="myPic">
		</p>
		
		<p>
			I hate writing a bunch of crap about who I am so for now this space will be filled with just word about sweet sweet nothing not a word to be found that can comment on my charater.  So there is no reason for you to still be reading this. You should really find something better to do with your time as if reading something a as utter as pointless as a "About me" page before it has any real words in it much less the fact that they contain nothing but lies before and after this site goes live
		</p>
		<p>
			Bannanna Monkey Monday Madness has infected us all we don't have much longer but before the yellow end we meet with the Howler monkeys I have this to type: I don't like carrots. So there.
		</p>
{% endblock %}
