{% extends "base.html" %}
{% block title%} Profile {% endblock %}

{% block header %}
		<h1>
			Ethan C. Wolfe
		</h1>
{% endblock %}


{% block content %}
		<div class="space">
		<h2>
			About me
		</h2>
		<p>
		<img id="photo" src="/static/myPic.jpg" alt="myPic">
			 I am a recent graduate from Auburn University with a degree in Computer Science. I chose Computer Science to gain access to a broad field filled with interesting problems, and my education has provided me with a strong grasp on the fundamental principals of programming. I personally have enjoyed working on projects that illuminate important abstractions, processes, and patterns while also solving immediately useful and interesting problems. For example, A <a href='/boggle'> Boggle Solver</a> using a recursive algorithm to find all walks on a game board, that also is testing each walk for possible solutions, or <a href='/monkey'> Markov Monkey</a> a random text generator that uses Markov chains to build psuedo random text. I also enjoy working on personal projects, such as this website which I made to display some of my old projects and to learn all the basic skills required to build and host my own website. 
	</p>
	<p>
        Outside of work I enjoy many means of passing time. Running is an important part of my everyday routine, as it helps me to stay healthy and focused. I have recently started learning German online using <a href= 'http://www.Duolingo.com/'> Duolingo</a> it provides an easy path of lessons and encourages daily use for better retension. I enjoy reading A variety of books from programming, science fiction, to philosophy.
		</p>

		</div>
{% endblock %}
