{% extends "base.html" %}
{% block title%} Project: Markov Monkey {% endblock %}

{% block header %}
		<h1>
			Markov Monkey is a random text generator
		</h1>
{% endblock %}

{% block content %}
		<div class="space">

		{% if noError %}
		<p>
			The following is the output from the sample file with a value of similarity of {{ k }}, and a length of {{ l }}:
		</p>
		<div class="output">
		<p>
			{{ re }}
		</p>
		</div>

		<p>
		
		{% else %}
		<p>
			Something went wrong!  
		</p>

		<div class="mistake">
		<p>
			{{ re }}
		</p>

		</div>

		{% endif %}
		
		<p>
			If you would like to use sample source text but choose your own values the use the following:  
		</p>
		
		<form action="/monkey" enctype="multipart/form-data" method="post">
		  A value of simlarity <input type="text" name="kval" size="1"></input>
		  Length of new text <input type="text" name="ulength" size="5"></input>
		  <input type="submit" value="Submit"></input>
		</form>
	
		<p>
			If you would like to use your own source text with your choice of values, then use the following form:

			However beware as long input text and/or texts with a large length output may take a long time to process.  
		</p>

		<p>

		<form action="/output" enctype="multipart/form-data" method="post">
		  Choose a .txt file <input type="file" name="fileIn" size="30"></input><br>
		  A value of simlarity <input type="text" name="k" size="1"></input>
		  Length of new text <input type="text" name="length" size="5"></input>
		  <input type="submit" value="Submit"></input>
		</form>

		</div>
		
{% endblock %}
