{% extends "base.html" %}
{% block title%} Project: Markov Monkey {% endblock %}

{% block header %}
		<h1>
			Markov Monkey is a random text generator
		</h1>
{% endblock %}

{% block content %}
		<div class="space">

		{% if noError %}
		<p>
			Here is your resulting text:  
		</p>
		{% endif %}

		<p>
			{{ re }}
		</p>
	
		<br><br><br>

		<p>
			Would you like to try another? 
		</p>

		<form action="/output" enctype="multipart/form-data" method="post">
		  Choose a .txt file <input type="file" name="fileIn" size="30"></input><br>
		  A value of simlarity <input type="text" name="k" size="1"></input>
		  Length of new text <input type="text" name="length" size="5"></input>
		  <input type="submit" value="Submit"></input>
		</form>

		</div>
		
{% endblock %}
