{% extends "base.html" %}
{% block title%} Resume {% endblock %}

{% block header %}
		<h1>
			My Resume
		</h1>
{% endblock %}

{% block content %}
		<h2>
			In Plain Text
		</h2>
		<p>
		  Ethan C. Wolfe	<br>
		</p>

		<p>
		  SKILLS	<br>
		   Software:	<br>	
		    Windows Operating Systems	<br>	
		    Linux Operating systems	<br>	
		    Microsoft Office Suite	<br>	
		    Microsoft Visual Studio	<br>	
			<br>
		   Programming:	<br>
		    Java	<br>
		    C/C++	<br>
		    Python	<br>
		    Ruby	<br>
		    C#	<br>
			<br>
		   General:	<br>
		    Strong Communication	<br>
		    Hardware Installation	<br>
		    Teamwork	<br>
		</p>
		<p>
		  EDUCATION	<br>
		    Auburn University, Auburn, AL	                 May 2014	<br>
		    Bachelor of Science, Computer Science	<br>

		  Alabama School of Math and Science, Mobile, AL	 May 2009	<br>
		    Advanced High School Diploma	<br>

			<br>
		  RELATED COURSE WORK 	<br>
		    Software Construction	<br>
		    Introduction to Operating Systems 	<br>
		    Introduction to Computer Networks	<br>
		    Computer Organization and Assembly Language 	<br>
		    Introduction to Algorithms	<br>
		    Embedded Systems 	<br>
		</p>
		<p>
		  PROJECTS	<br>
		  Project Name: Markov Monkey	<br>
				<br>
		  Language: Java	<br>
				<br>
		  Description: A program that runs with a text file that then will loop through the text and copy specific portions based on markov chains to create a new file that produces 			  similar but new text.	<br>

				<br>
		  Project Name: Home Security System	<br>

		  Language: C++	<br>

		  Description: A group project where we developed a control system for a home security system. Personal duties on this project included analysis, programing, and testing.	<br>

		  OTHER EXPERIENCE	<br>
		    The Blue Plate, Dothan, AL	 Summer 2010	<br>
		    Busboy	<br>
			
		</p>
{% endblock %}
	

	
