{% extends "base.html" %}
{% block title%} Resume {% endblock %}

{% block header %}
		<h1>
			My Resume
		</h1>
{% endblock %}

{% block content %}
		<h2>
		  Ethan C. Wolfe
		</h2>
		
		<p>		
		  SKILLS
		</p>
		<p class="column">
		   General:			<br>
		    Strong Communication	<br>
		    Hardware Installation	<br>
		    Teamwork			<br>
		    (filler)			
		</p>
		<p class="column">
		   Software:			<br>	
		    Windows Operating Systems	<br>	
		    Linux Operating systems	<br>	
		    Microsoft Office Suite	<br>	
		    Microsoft Visual Studio		
		</p>
		<p class="column">
		   Programming:	<br>
		    Java	<br>
		    C/C++	<br>
		    Python	<br>
		    C#		<br>
		</p>
		<div class="clearfix"></div>
		<br>
		<p>
		  EDUCATION	<br>
		    <p>Auburn University, Auburn, AL	                <span class="date"> May 2014</span><br>
		    Bachelor of Science, Computer Science</p>
<div class="clearfix"></div>
		  <p>Alabama School of Math and Science, Mobile, AL	<span class="date"> May 2009</span><br>
		    Advanced High School Diploma</p>	
		  <br>
		  <div class="clearfix"></div>
		  RELATED COURSE WORK 					<br>
		    Software Construction				<br>
		    Introduction to Operating Systems 			<br>
		    Introduction to Computer Networks			<br>
		    Computer Organization and Assembly Language 	<br>
		    Introduction to Algorithms				<br>
		    Embedded Systems 					<br>
		</p>
		<p>
		  PROJECTS	<br>
	 	 See <a href="/projects">Projects</a>
		</p>
		<p>
		  OTHER EXPERIENCE	<br>
		    The Blue Plate, Dothan, AL	 Summer 2010	<br>
		    Busboy	<br>
			
		</p>
{% endblock %}
	

	
